version: "3"
services:

    web:
      image: jmalloc/echo-server
      container_name: web

    agent:
      build:
        context: ../../
        dockerfile: ./examples/synchronous-example/agent/Dockerfile
      image: haproxy-dotnet-spoa:debug
      container_name: agent

    haproxy:
      image: haproxytech/haproxy-alpine:2.2-dev11
      ports:
      - "8000:80"
      container_name: haproxy
      volumes:
      - "./haproxy/:/etc/haproxy"
      depends_on:
        - web
        - agent